<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Aiplugs.CMS.Web</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
  <link rel="import" href="https://unpkg.com/aiplugs-elements/dist/elements.html">
  <link rel="import" href="https://unpkg.com/aiplugs-elements/dist/theme.html">
  <link rel="stylesheet" href="~/css/site.css" />
  <environment include="Development">
  </environment>
  <environment exclude="Development">
  </environment>
</head>
<body>
  <aiplugs-nav-items>
    <aiplugs-nav-item class="logo">
      <img slot="icon" src="https://unpkg.com/aiplugs-elements@0.9.4/dev/img/icon.svg" alt="aiplugs" width="32">
      <span>aiplugs CMS</span>
    </aiplugs-nav-item>
    <aiplugs-nav-item class="fold-action">
      <i slot="icon" class="fa fa-bars"></i>
    </aiplugs-nav-item>
    <aiplugs-nav-item class="@SharedNavPages.FilesNavClass(ViewContext)" href="@Url.Content("~/files")">
      <i slot="icon" class="fa fa-folder"></i>
      <span>Files</span>
    </aiplugs-nav-item>
    <aiplugs-nav-item>
      <i slot="icon" class="fa fa-database"></i>
      <span>Collections</span>
    </aiplugs-nav-item>
    <aiplugs-nav-items>
      @foreach(dynamic collection in ViewBag.Collections)
      {
        <aiplugs-nav-item class="@SharedNavPages.Collections.NavClass(ViewContext, collection.Name)" href="@Url.Action("List", "Collections", new { name = collection.Name})">@collection.DisplayName</aiplugs-nav-item>        
      }
    </aiplugs-nav-items>
    <aiplugs-nav-item>
      <i slot="icon" class="fa fa-cog"></i>
      <span>Settings</span>
    </aiplugs-nav-item>
    <aiplugs-nav-items>
      <aiplugs-nav-item class="@SharedNavPages.Settings.CollectionsNavClass(ViewContext)" href="@Url.Content("~/settings/collections")">Collections</aiplugs-nav-item>
      <aiplugs-nav-item class="@SharedNavPages.Settings.UsersNavClass(ViewContext)">Users</aiplugs-nav-item>
      <aiplugs-nav-item class="@SharedNavPages.Settings.AppSettingsNavClass(ViewContext)">App Settings</aiplugs-nav-item>
    </aiplugs-nav-items>
    <aiplugs-nav-separator></aiplugs-nav-separator>
    <aiplugs-nav-item slot="bottom">
      <img slot="icon" src="https://avatars2.githubusercontent.com/u/1011232?s=32&u=332a5b77904556e83686f16105a3355f46c82292&v=4" alt="iwate" width="32">
      iwate
    </aiplugs-nav-item>    
  </aiplugs-nav-items>
  <main>
    <section>
      @RenderBody()
    </section>
  </main>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/intercooler-js/1.2.1/intercooler.min.js"></script>
  <script src="~/js/site.js"></script>
  <environment include="Development">
  </environment>
  <environment exclude="Development">
  </environment>
  @RenderSection("Scripts", required: false)
</body>
</html>
